
body {
    background-color: rgb(178, 240, 235);
    font-family: Courier New;
    color: #616464;
}


.blueSpace {
    position: relative;
    background-color: lightblue;
    color: #616464;
    padding: 280px;
    margin: -10px;
}

.redSpace {
    position: relative;
    background-color: tomato;
    color: azure;
    padding: 280px;
    margin: -10px;
}

.leftBlock {
        position: absolute;
        left: 100px;
        top: 90px;
        width: 460px;
        height: 370px;

}

.rightBlock {
    position: absolute;
    left: 680px;
    top: 90px;
    width: 460px;
    height: 370px;
 
}


.footer {
    padding: 40px;
    margin: -10px;
    text-align: center;
   
 }